{% extends 'home4.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="col-md-6 offset-md-3" style="background-color: #FFEA20; padding: 20px; border-radius: 10px; margin-top: 50px; border: 2px solid #332D2D;">
    <form action="" method="POST">
        {% csrf_token %}
        {{ forms.as_p }}
        <button class="btn btn-primary" style="background-color: #332D2D; color: #FFEA20; border: 2px solid #FFEA20; padding: 10px 20px; border-radius: 5px; cursor: pointer; margin-top: 20px;">Add Member</button>
    </form>
</div>

{% endif %}

{% endblock %}
