{% load static %}
<style>
    .navbar-nav {
        width: 100%;
    }
    
    .navbar-nav .nav-link {
        margin: 10 10px;
        color: #FFEA20;
    }

    .navbar-brand {
        color: #FFEA20;
    }

    .img {
        height: 40px; /* Adjust height as needed */
        margin-right: 10px; /* Add space between logo and text */
    }

    .navbar-brand:hover {
        color: #54B4D3;
    }
    
    .navbar-nav .nav-item:not(:last-child) .nav-link::after {
        content: "|";
        margin-left: 10px;
        color: #FFEA20;
    }

    .navbar-nav .nav-link.active {
        color: #54B4D3;
    }

    .navbar-brand img {
        width: 30px;
        margin-right: 5px;
    }

    .navbar-nav .nav-link:hover {
        color: #54B4D3;
    }

    .message-container {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
    }
</style>

{% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
{% endif %}

{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main' %}">
                <img src="{% static '/img/coderist-logo.png' %}" alt="Your Logo">
                EARNIST
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'members' %}">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_record' %}">Add Member</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
