{% extends 'home.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: #3B71CA;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
      
    ::-webkit-scrollbar-thumb {
        background-color: #332D2D;
        border-radius: 4px;
    }
      
    ::-webkit-scrollbar-track {
        background-color: #3B71CA;
    }
      
    ::-webkit-scrollbar-corner {
        background-color: #9FA6B2;
    }

    .first-image {
        width: 40%;
        height: auto;
        position: absolute;
        margin-top: 5%;
        margin-left: 5%;
        border: 10px solid #000;
        border-radius: 5%;
    }

    .header-description {
        position: absolute;
        top: 30%;
        right: 5%;
        left: 50%;
        text-align: justify;
        color: #FFEA20;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
        letter-spacing: 2px;
        line-height: 2;
    }

    .second-image {
        width: 40%;
        height: auto;
        position: absolute;
        margin-top: 40%;
        margin-left: 55%;
        border: 10px solid #000;
        border-radius: 5%;
    }

    .second-description {
        position: absolute;
        top: 100%;
        right: 50%;
        left: 5%;
        text-align: justify;
        color: #FFEA20;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
        letter-spacing: 2px;
        line-height: 2;
    }

    .third-image {
        width: 40%;
        height: auto;
        position: absolute;
        margin-top: 75%;
        margin-left: 5%;
        border: 10px solid #000;
        border-radius: 5%;
    }

    .third-description {
        position: absolute;
        top: 160%;
        right: 5%;
        left: 50%;
        text-align: justify;
        color: #FFEA20;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
        letter-spacing: 2px;
        line-height: 2;
    }

    .credits {
        background-color: #000;
        position: absolute;
        top: 215%;
        width: 100%;
        text-align: center;
        text-align: center;
        color: #FFEA20;
        font-size: 14px;
    }    
</style>

{% if user.is_authenticated %}
<div class="container1">
<img class="first-image" src="{% static '/img/Yey1.jpg' %}" alt="first">
    <div class="header-description">
        <h1>EARNIST</h1>
        <p>EARNIST, originally known as Team Yey, was founded in the first-year College second semester. It is a group of friends composed of 9 members: Tanya, Josephine, Febrich, Laurence, Yruma, Russel, Jaycee, Steven, and Gerard.</p>
    </div>
</div>

<div class="container2">
<img class="second-image" src="{% static '/img/Yey2.jpeg' %}" alt="second">
    <div class="second-description">
        <p>Ernest and Rhea joined our friend group during the first semester of our second year in college. With them around, our college crew got even cooler.</p>
    </div>
</div>

<div class="container3">
<img class="third-image" src="{% static '/img/Yey3.jpg' %}" alt="third">
    <div class="third-description">
        <p>In the second semester of our second year in College, Rommel and Ericka joined our group of friends. They fit right in, hanging out with us during meals and study sessions. Their presence made our group feel stronger and our college experience more fun.</p>
    </div>
    <p class="credits">&#9400; EARNIST 2024</p>
</div>

{% endif %}

{% endblock %}
