{% extends 'home2.html' %}
{% load static %}

{% block content %}
<style>
    .container {
        max-width: 80%;
        margin: 0 auto;
    }

    .table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 5%;
    }
    
    .table th, .table td {
        border: 1px solid #332D2D;
        padding: 8px;
        text-align: center;
    }
    
    .table th {
        background-color: #FFEA20;
    }

    .bg-image {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 30%;
        height: 40%;
        transform: translate(-50%, -50%);
        opacity: 0.3; /* Adjust the opacity as needed */
        z-index: 1; /* Ensure the image stays in the background */
    }
</style>

{% if user.is_authenticated %}
<img class="bg-image" src="{% static '/img/coderist-logo.png' %}" alt="Logo">
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
            </tr>
        </thead>
        <tbody>
            {% if members %}
                {% for record in members %}
                    <tr>
                        <td>{{ record.first_name }}</td>
                        <td>{{ record.last_name }}</td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.phone }}</td>
                        <td>{{ record.address }}</td>
                        <td>{{ record.city }}</td>
                        <td>{{ record.state }}</td>
                        <td>{{ record.zipcode }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}